* {
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0px;
}

/* MEDIA QUERIES */
@media only screen and (max-device-width: 640px) {
  header .hamburger {
    display: inline !important;
  }

  aside {
    flex: 0 0 0px !important;
    position: fixed;
    z-index: 2;
    top: 100px;
    left: 0;
    overflow-x: hidden;
    transition-duration: 0.5s;
  }

  .aside-hidden {
    width: 230px !important;
    transition-duration: 0.5s;
  }
}

/* MAIN STYLE QUERIES */
header {
  text-align: center;
  background-color: #112C3B;
  padding: 8px;
  color: white;
}

header h1 {
  font-weight: 700;
  text-align: center;
  flex: 1;
}

header .hamburger {
  font-size: 32px;
  font-size: 2em;
  margin: 0.67em;
  cursor: pointer;
  display: none;
}


.flex-container {
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
}

aside {
  flex: 0 0 230px;
  background-color: #EDEDED;
  min-height: 88vh;
}

article {
  padding: 25px;
}
